[submodule "artheia"]
	path = artheia
	url = git@github.com:perotheia/artheia.git
[submodule "third_party/etcd-cpp-apiv3"]
	path = third_party/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3
[submodule "rf-theia"]
	path = rf-theia
	url = git@github.com:perotheia/rf-theia.git
	branch = main
